body {
    background: whitesmoke;
}

.button {
    background: blue;
    border: none;
}

.greetings {
    font-weight: 300;
}

.rich-pic{
    display: flex;
    justify-content: center;
    margin: 0 auto;
}

p {
    font-size: 1.3em;
    color: black;
}

figcaption{
    color: black;
}

button.button-outline {
    border: 1px solid black;
    color: black;
}

a.button.button-outline {
    color: black;
    border: 1px solid black;
}

footer{
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: black;
    color: white;
    text-align: center;
    padding: 5px;
}

.portfolio-pic {
    width: 300px;
    height: 250px;
    border: 1px solid black;
}

.project-pics{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

@media (max-width: 39.9rem) {
    .rich-pic{
        min-width: 100%;
    }
  
}

@media (min-width: 40.0rem) {
    .rich-pic{
        max-width: 100%;
    }

}

/* Larger than tablet screen */
@media (min-width: 80.0rem) {
    .rich-pic{
        max-width: 100%;
    }

}

/* Larger than desktop screen */
@media (min-width: 120.0rem) {
    .rich-pic{
        max-width: 100%;
    }
}