.button {
    background: blue;
    border: none;
}

.greetings {
    font-weight: 300;
}

p {
    font-size: 1.3em;
    color: black;
}

img {
height: 400px;
}

button.button-outline {
    border: 1px solid black;
    color: black;
}

a.button.button-outline {
    color: black;
    border: 1px solid black;
}

footer{
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: black;
    color: white;
    text-align: center;
    padding: 5px;
}

.portfolio-pic {
    width: 300px;
    height: 250px;
    border: 1px solid black;
}

@media (min-width: 40.0rem) {}

/* Larger than tablet screen */
@media (min-width: 80.0rem) {}

/* Larger than desktop screen */
@media (min-width: 120.0rem) {}